#! /bin/sh
### BEGIN INIT INFO
# Provides:          WVG zeroconf
# Required-Start:    $network
# Required-Stop:     $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: WVG zeroconf for internal network devices
# Description:       WVG zeroconf for internal network devices
### END INIT INFO
# Author: <mail@j-liebl.de>

PATH=/bin:/usr/bin:/sbin:/usr/sbin
FOLDER=/opt/wvg/zeroconf/        
APP=start.sh
PID=wvg-zeroconf.pid

case "$1" in
  start)
     echo "Starting wvg zeroconf"
     cd $FOLDER
     sh start.sh
   ;;
  stop)
     echo "Stopping wvg zeroconf"
     kill $(cat $FOLDER$PID)
   ;;
  force-reload|restart)
     $0 stop
     $0 start
   ;;
  status)
     status_of_proc -p $PIDFILE $DAEMON atd && exit 0 || exit $?
   ;;
 *)
   echo "Usage: /etc/init.d/atd {start|stop|restart|force-reload|status}"
   exit 1
  ;;
esac

exit 0

